<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>hello world </h1>

<!-- link to diff controller. In other links, they link to current constoller so no need to add 'controller' -->
<%= link_to 'My blog', controller: 'articles'  %> 

<p>

<!-- what is new_article_path? -->
<%= link_to 'New article button', new_article_path  %>

